<!doctype html>
<html>
<head>
	<title>BIO FIND - Home</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1> BIO FIND </h1>
		<a href="/products" class="btn btn-default">Products</a>
		<a href="/markets" class="btn btn-default">Markets</a>
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
	</div>

	<p align="center">
		Please login to use our service.
	</p>
</div>
</body>
</html>
